POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=elolearning
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://your_user:your_password@localhost:5432/elolearning

SECRET_KEY=generate good password of 32 chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

CORS_ORIGIN=http://localhost:5173